Source: naviserver-nsdbpg
Section: web
Priority: optional
Maintainer: Qcode Software Ltd <hackers@qcode.co.uk>
Build-Depends: debhelper (>= 7.0.50~), libpq-dev, postgresql-server-dev-8.4, naviserver-dev (>= 4.99.5)
Standards-Version: 3.9.1
#Vcs-Git: git://git.debian.org/collab-maint/naviserver-nsdbpg.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/naviserver-nsdbpg.git;a=summary

Package: naviserver-nsdbpg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${naviserver:Depends}, naviserver, naviserver-core
Description: Naviserver Postgresql drivers
 nsdbpg drivers allowing Naviserver to speak to Postgresql DBs.
